<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register Page</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <style>

                #footer
                {
                  position: relative;
                  background-color:rgb(225,219,219) ;
                  text-align: center;
                  margin-top: 25rem;
                  margin-bottom: 0;
                }
                #footer p{
                  color:black;
                  margin-bottom:0;
                }

                .footer-icon
                {
                  margin:3rem 1rem;
                  font-size: 1.7rem;
                }


      </style>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    register
                </div>
                <div class="card-body">
                    <form method="post" action="/user_register">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <footer id="footer">
  <p><i class="fa-brands fa-twitter footer-icon"></i> <i class="fa-brands fa-facebook footer-icon"></i><i class="fa-brands fa-instagram footer-icon"></i><i class="fa-brands fa-linkedin footer-icon"></i></p>
      <p>© Copyright made with <i class="fa-solid fa-heart"></i></p>

    </footer>

</body>
</html>
